body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 5px solid white;
    margin: 30px 0;
}
h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
h2 {
    color: white;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: thin;
}
.bgcolor {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -999;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    margin: 8px;
    list-style: none;
    width: 65px;
    height: 65px;
}
li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
a {
    color: white;
    text-decoration: none;
}
.description {
    display: none;
}

@media (max-width: 450px) {
    .container {
        padding: 100px 0;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 1.2em;
        padding-left: 15px;
        padding-right: 15px;
    }
    ul {
        flex-direction: column;
        padding: 0 20px;
    }
    li {
        border-radius: 0%;
        border: none;
        color: white;
        margin: 8px;
        list-style: none;
        margin: 10px;
        text-align: center;
        height: auto;
        width: 100%;
    }
    li:hover {
        background-color: none;
        transition: none;
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        border: 2px solid white;
        color: white;
        padding: 15px;
        width: 100%
    }
    a:hover {
        -webkit-transition: 500ms;
        -moz-transition: 500ms;
        transition: 500ms;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-decoration: none;
    }
    .description {
        flex: 1;
        display: inline-block;
        color: white;
        font-family: Arial;
        margin-top: 10px;
        font-size: 1.4em;
        font-weight: bold;
    }
    .content {
        padding-top: 60px;
    }
}
